:where(:root, [data-light]) {
  /* CSS HEX */
  --black-olive: #3b403bff;
  --columbia-blue: #aabec5ff;
  --polynesian-blue: #0a4585ff;
  --platinum: #eaebeaff;
  --ghost-white: #f2f4ffff;

  /* CSS HSL */
  --black-olive: hsla(120, 4%, 24%, 1);
  --columbia-blue: hsla(196, 19%, 72%, 1);
  --polynesian-blue: hsla(211, 86%, 28%, 1);
  --platinum: hsla(120, 2%, 92%, 1);
  --ghost-white: hsla(231, 100%, 97%, 1);

  --color-bg: var(--platinum);
  --color-bg-light: var(--ghost-white);
  --color-bg-muted: var(--columbia-blue);
  --color-text: var(--black-olive);
  --color-text-muted: var(--polynesian-blue);
}

:where([data-dark]) {
  /* CSS HSL */
  --black-olive: hsla(120, 4%, 24%, 1);
  --columbia-blue: hsla(196, 19%, 72%, 1);
  --polynesian-blue: hsla(211, 86%, 28%, 1);
  --uranian-blue: hsla(211, 100%, 92%, 1);
  --night: hsla(120, 2%, 8%, 1);

  --color-bg: var(--night);
  --color-bg-light: var(--polynesian-blue);
  --color-bg-muted: var(--black-olive);
  --color-text: var(--uranian-blue);
  --color-text-muted: var(--columbia-blue);
}

@media (prefers-color-scheme: dark) {
  :where(:root:not([data-light])) {
    /* CSS HEX */
    --black-olive: #3b403bff;
    --columbia-blue: #aabec5ff;
    --polynesian-blue: #0a4585ff;
    --uranian-blue: #c2dfffff;
    --night: #141514ff;

    /* CSS HSL */
    --black-olive: hsla(120, 4%, 24%, 1);
    --columbia-blue: hsla(196, 19%, 72%, 1);
    --polynesian-blue: hsla(211, 86%, 28%, 1);
    --uranian-blue: hsla(211, 100%, 92%, 1);
    --night: hsla(120, 2%, 8%, 1);

    --color-bg: var(--night);
    --color-bg-light: var(--black-olive);
    --color-bg-muted: var(--polynesian-blue);
    --color-text: var(--columbia-blue);
    --color-text-muted: var(--uranian-blue);
  }
}

:root {
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;

  --container-width-xs: 256px;
  --container-width-s: 480px;
  --container-width-m: 640px;
  --container-width: 860px;

  --border-radius: 8px;
  --border-width: 2px;

  --duration: 300ms;
  --animation-duration: 400ms;

  --scrollbar-width: var(--space-s);
}

@media (prefers-reduced-motion) {
  :root {
    --duration: 0;
    --animation-duration: 0;
  }
}

* {
  background-color: var(--bg-color, transparent);
  color: var(--text-color, inherit);
  border-color: var(--border-color, var(--text-color, inherit));
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--container-width);
}

main {
  flex: 1 0 auto;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: var(--color-text-muted);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

[data-full-bleed] {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

[data-sr-only] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
