.container {
  --bg-color: var(--color-bg-special);
  --text-color: var(--color-text-special);

  --padding: var(--space-m);
  --margin: var(--space-xs);
  --gap: var(--space-m);
  --icon-size: var(--font-size-xl);
  --opacity: 0.382;

  border-radius: var(--border-radius);
  padding: var(--padding);
  margin: var(--margin);
}

:where(.meta, .container, .category, .heading) {
  --gap: var(--space-xs);

  display: flex;
  gap: var(--gap);
}

.category {
  flex: 1 1
    calc(50% - var(--gap) - var(--padding) * 0.5 - var(--icon-size) * 0.5);
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
}

.category:first-of-type {
  align-items: flex-end;
  text-align: right;
}

.category :where(span, small) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta {
  --gap: var(--space-s);

  align-items: center;
  font-family: var(--font-mono);
  letter-spacing: var(--letter-spacing-extended);
}

.title {
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: var(--padding) 0;
}

.badge {
  --bg-color: var(--color-bg);
  --padding: var(--space-xs);

  border-radius: var(--border-radius-s);
  padding: var(--padding) var(--space-s);
}

.heading {
  align-items: baseline;
  font-size: var(--font-size-md);
  max-width: 100%;
}

.heading small {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
}

.heading span {
  flex: 0 0 auto;
}

.heading[data-no-aircraft] {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

.registration {
  font-family: var(--font-mono);
  font-size: var(--font-size-md);
}

.icon {
  flex: 1 0 auto;

  margin-top: var(--space-s);
  height: var(--icon-size);
  width: var(--icon-size);
  opacity: var(--opacity);
}

@media (min-width: 640px) {
  .container {
    --gap: var(--space-l);
  }
}
